.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}


.App-header {
  font-size: calc(10px + 2vmin);
  margin-top: .5em;
  padding-bottom: .5em;
  border-bottom: .5px groove #999999;
}

.App-main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

table {
  width: 20%;
  margin: .5em auto;
  border-collapse: separate; 
  border-spacing: 5px;
}

td {
  width: 20%;
  height: 8vh;
  border: 2px solid #999999;
}


td.green {
  background-color: green;
  color: black;
  transform: rotateY('360');
  transition-property: background-color;
}

td.yellow {
  background-color: #e4e400;
  color: black;
  transform: rotateY('360');
  transition-property: background-color;
}

td.grey {
  background-color: grey;
  color: black;
  transform: rotateY('360');
  transition-property: background-color;
}
